/* body start */

#main {
	width: 72%;
	height: 72%;
	margin: 5% auto;
	padding: 1% 0% 1%;
	background-color: hsla(31, 50%, 12%, 0.64);
	background-size: 100% 100%;
	background-position: top;
}

body {
	color: rgb(255, 255, 255);
	/* background-color: grey; */
	background-image: url(../images/gun.gif);
	font-family: lobster;
	font-size: 20px;
	font-style: oblique;
}

h1, h2, h3 {
	font-family: 'Fontdiner Swanky', cursive;
	text-align: center;
	padding: 1.5%;
	color: rgb(255, 255, 255);
	width: 72%;
	margin: 1% auto 1%;
	text-shadow: 4px 4px #000000;
	box-shadow: 3px 3px #000;
	border: 100px;
	border-radius: 20px;
	background-image: url(../images/simple.gif);
	background-repeat: repeat;
	overflow: hidden;
}

nav, p {
	text-Align: center;
}

ol {
	list-style-type: disc;
	overflow: hidden;
	padding: 0% 0% 0% 15%;

}

ul {
	list-style-type: circle;
	list-style-position: inside;
	padding: 5px;
}

#ch, #piz, #pan, #bro {
	background-color: #888;
	margin: 1% 4%;
	float: left;
	padding: 6px;
	border: solid #000
}


#fig1 {
	background-color: rgba(31, 31, 31, 0.64);
	padding: 5px;	
	box-shadow: 5px 5px #000;
	width: 70%;
	margin: 4% auto;
	text-align: center;
	
}

#images {
	padding: 0% 0% 0% 13%;
}


#fig2, #fig3, #fig3, #fig4, #fig5 {
	background-color: rgba(31, 31, 31, 0.64);
	padding: 5px;	
	box-shadow: 5px 5px #000;
	width: 40%;
	margin: 1%;
	float: left;
	clear: right;
}

a:link {
	color: #fff;
	text-decoration: none;
}

a:visited {
  color: #b3b3b3;
  text-decoration: none;
}

a:hover, a:focus {
	color: #f70;
  text-decoration: underline;
}

a:active {
	color: #f00;
}

footer {
    padding: 20px 400px;
	text-shadow: 4px 4px #000000;
	box-shadow: 3px 3px #000;
	background-image: url(../images/simple.gif);
	background-repeat: repeat;
	border-radius: 20px;
	overflow: hidden;
	text-align: center;
	padding: 1.5%;
	width: 72%;
	margin: 5% auto 0%;

}

/* body end */
